<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CommentCount" parallel="tests" thread-count="2">

    <test name="EDGE_TEST">
        <parameter name="env" value="prod"/>
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

    <test name="CHROME_TEST">
        <parameter name="env" value="prod"/>
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="runners.TestRunner" />
        </classes>
    </test>

</suite>