<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SearchPhone" parallel="tests" thread-count="2">

    <test name="FIREFOX_TEST">
        <parameter name="env" value="prod"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="runners.Runner"/>
        </classes>
    </test>

    <test name="CHROME_TEST">
        <parameter name="env" value="prod"/>
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="runners.Runner" />
        </classes>
    </test>

</suite>